

.movi-cart {
    display: flex;
    align-items: center;
    gap:24px;
    background-color: #f7f7f7;
    border-radius: 6px;
    padding: 24px;
}

.movie-name {
    font-size: 18px;
    color:#333666;
}


button img {
    transition: all .2s linear;
}

button:hover img {
    transform: scale(1.2);
}

.btn,
.row-x {
    display: flex;
    align-items: center;
    gap:16px
}

.calu {
    font-size: 18px;
        color: #323666;
}