#root {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;


}

button {
  margin-inline: 20px;
}

input {
  font-size: 28px;
  padding: 4px;
  border-radius: 4px;
  height: 32px;
  border-style: solid;
}

/* method 1 -> use border-image */
/* button {
  border-width: 4px !important;
  border-style: solid !important; 
  border-image: linear-gradient(to right, darkblue, darkorchid) 1 !important;
} */

/* method 2 -> use background-clip to support border-radius */
/* button {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box !important;
  border-radius: 4px !important;
  border: 4px solid transparent !important;
} */


button,
.btn-gradient-2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #fff !important;
  padding: 0.5rem 1rem;
  cursor: pointer;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

img {
  border-radius: 4px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
